html {
  font-size: 22px;
}

body {
  padding: 1rem;
}

a {
  text-decoration: none;
}

#container {
  max-width: 1200px;
  margin: 0 0;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  #container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  #container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
  #container { grid-template-columns: repeat(4, 1fr); }
}

.card {
  color: black;
  margin: 1rem;
  padding: 0;
  height: 300px;
  width: 300px;
}

#card1 {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)),
    url('./media/snake.png');
}

#card2 {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)),
    url('./media/mineSweeper.png');
}

#card3 {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)),
    url('./media/flappyBird.png');
}
